table {
    border-spacing: 30px;
    padding-top: 500px;
  }
  p {
    font-size: 22px;
    font-family: solid 'Courier New', Courier, monospace;
  }
  a:hover {
    color: coral;
  }
  body {
    background-color: blanchedalmond;
    background-repeat: no-repeat;
    background-size: 100vw, 100vh;
  }
  #profile {
    padding-bottom: 20px;
    padding-top: 20px;
    display: block;
    margin: auto;
    border-radius: 50%;
    width: 200px;
  }